html,
body {
  font-family: Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

textarea,
input {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.react-blur-canvas {
  flex: 100%;
}
